body{
    margin: 0;
    font-family: 'Cherry Swash', cursive;
    box-sizing: border-box !important;
    background-color: ghostwhite;
}
h1{
    font-weight: bold;
    color: white;
    font-size: 5.8em;
    margin: inherit;
    padding-top: 65vh;
    letter-spacing: 0.02em;
}
h2{
    font-weight: bold;
    color: RoyalBlue;
    font-size: 1.5em;
    margin: inherit;
    letter-spacing: 0.02em;
    padding-top: 20px;
}
header, footer{
    width: 100%;
}
header{
    background-color: RoyalBlue;
    min-height: 100vh;
    text-align: center;
    background-image: url(../images/delft-tekening.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-blend-mode: multiply;
}
footer{
    background-color: #4682B41a;
    min-height: 120px;
  }
  footer p{
    font-family: 'Cherry Swash', cursive;
    text-align: center;
    padding-top:50px;
    color: LightSteelBlue;
    font-size: 0.8em;
    letter-spacing: 0.05em;
  }
  img{
    max-width: 100%;
}
#royal-20{
    background-color: #4169E133;
}
#royal-50{
    background-color: #4169E180;
}

[col*=col-]{
    width: 100%;
}
@media only screen and (min-width: 992px){
    [col*=col-]{
        float: left;
    }
    .col-1{width: 8.33%}
    .col-2{
        width: 16.66%;
        background-color: ;
    }
    .col-3{width: 25%}
    .col-4{width: 33.33%}
    .col-5{width: 41.66%}
    .col-6{width: 50%}
    .col-7{width: 58.33%}
    .col-8{width: 66.66%}
    .col-9{width: 75%}
    .col-10{width: 83.33%}
    .col-11{width: 91.66%}
    .col-12{width: 100%}

    header{
    min-height: 300px;
   
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 35%;
    background-size: 50%;
    background-blend-mode: multiply;
    text-align: left;
    }
    h1{
     font-size: 4em;
     padding-left:50px;
     padding-top: 180px;
    }
    footer{
        min-height: 180px;
      }
      footer p{
        padding-top:80px;
     
      }
    img{
        width: 350px;
        float: right;
    }
}

